*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.gameContainer{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
nav{
    background-color: rgb(162, 162, 255);
    padding:0.7rem;
    /* margin-bottom: 2rem; */
}
.and{
    display: flex;
    margin: 1rem 0rem;
    gap: 1rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    cursor: pointer;
    font-size:7vw;
}
.box:hover{
    background-color: rgb(204, 255, 255);
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}
.bt{
    border-top: 0;
}
.bb{
    border-bottom: 0;
}
.bl{
    border-left: 0;
}
.br{
    border-right: 0;
}
.info{
    font-size: 1.6rem;
}
h3{
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.reset{
    font-size: 1.3rem;
    margin: 0px 1.5rem;
    padding: 3px 10px;
    background-color:rgb(162, 162, 255);
    border-radius: 5px;
    font-weight: 600;
}
.imgbox img{
    width: 0vw;
    transition: 1s ease;
}
.line{
    background-color: rgb(255, 0, 0);
    width:0;
    height: 3px;
    position: absolute;
    transition: width 1s ease-in-out;

}
@media screen and (max-width:800px) {
    .gameContainer{
        flex-direction: column;
        align-items: center;
    }
    .container{
        grid-template-columns: repeat(3,10vw);
        grid-template-rows: repeat(3,10vw);
    }
    .box{
        font-size: 3rem;
    }
    .info{
        font-size: 1.2rem;
    }
    .reset{
        font-size: 1.1rem;
    }
    h3{
        font-size: 1.7rem;
    }
}